@model Project.Web.Models.FliersModel

<section class="content-header">
    <h1>Payment Information</h1>
    <!--<span class="breadcrumb"><strong><i>DEMONSTRATION</i></strong></span>-->
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h4><b>Amount Due to Cardholder</b></h4>
                <p>Your loyal customer is awarded 1% by default on their purchase. EasySave card is required.</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h4><b>Amount Due to EasySave</b></h4>
                <p>2% of the sales through the EasySave terminal.</p><br />
                <p>1% paid to EasySave and 1% towards the marketing of your company.</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h4><b>Total Payment to EasySave</b></h4>
                <p>The overall 3% that is described above.</p><br />
                <p>Each 1% goes to a separate account for its intended purpose.</p><br />
                <p>A breakdown of each 1% will be on the monthly billing.</p><br />
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h4><b>redeeming</b></h4>
                <p>The cardholder can redeem at any participating merchant from their EasySave account.</p><br />
                <p>Each redemption amount will be compensated back to the merchant by EasySave Incorporated.</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>


    <!-- /.row -->


</section>
<!-- /.content -->
